# Python related
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Django Secret Keys
*.env

# Database files
*.sqlite3
db.sqlite3

# Log files
*.log

# VS Code settings
.vscode/

# Mac / Windows system files
.DS_Store
Thumbs.db
